.page p {
  text-align: justify !important; /*先设置文字对齐方式,不然很混乱*/
  text-indent: 2em !important; /*2em刚好两个字符,根据情况而定*/
}

.page strong {
  color: #42b983;
}


.page h4,h5{
  font-size:18px;
}

.page h2, h3, h4, h5, h6, h7 {
  line-height:1.1;
}

@media (max-width: 960px) {
  /*移动端样式调整*/
  div.extra-class{
    border-radius:5px!important;
    margin:0!important;
    overflow:hidden;
  }
  #app {
    font-size: 14px;
  }
  .page h2{
    font-size:20px;
  }
  .page h3{
    font-size:18px;
  }
  .page h4,h5,h6{
    font-size:16px;
  }
  .page pre {
    width: 100vw !important;
    box-sizing: border-box !important;
    padding: 0.7rem 0.4rem !important;
    margin: 0 !important;
  }

  .page p, ul, ol {
    line-height: 1.4;
  }

  .page .theme-default-content:not(.custom) {
    box-sizing: border-box;
    position: static;
    width: 100vw;
    padding: 1.5rem 0.5rem;
    overflow: hidden;
  }
  .page pre{
    font-family: Roboto Mono,Monaco,courier,monospace;
  }

}